<!DOCTYPE html>
<html lang="es">
<link rel="stylesheet" href="../style/style.css">
<link rel="stylesheet" href="../style/conv.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CalcConvert</title>
    <link rel="icon" href="../img/logoB.png">
</head>
<header>
    <img src="../img/logoN.png" alt="CalcConvert" style="width: 75px; height: 75px; position: absolute; left: 10px;">
    <h1 style="font-size: 50px; text-align: center;">CalcConvert</h1>
</header>
<body>
    <div class="containerconv">
        <div class="contmedidas">
            <h1>Medidas</h1>
            <input id="valorM" type="number" class="valorUser">
            <select id="medidaInicial" class="medidaInicial">
                <option value="km">Kilómetro</option>
                <option value="hm">Hectómetro</option>
                <option value="dam">Decámetro</option>
                <option value="m">Metro</option>
                <option value="dm">Decímetro</option>
                <option value="cm">Centímetro</option>
                <option value="mm">Milímetro</option>
                <option value="legua">Legua</option>
                <option value="milla">Milla</option>
                <option value="furlong">Furlong</option>
                <option value="cadena">Cadena</option>
                <option value="rod">Rod</option>
                <option value="yarda">Yarda</option>
                <option value="pie">Pie</option>
                <option value="pulgada">Pulgada</option>
                <option value="micrometro">Micrómetro</option>
            </select>
            <input id="resultM" class="valorResultado" readonly>
            <select id="medidaFinal" class="medidaFinal">
                <option value="km">Kilómetro</option>
                <option value="hm">Hectómetro</option>
                <option value="dam">Decámetro</option>
                <option value="m">Metro</option>
                <option value="dm">Decímetro</option>
                <option value="cm">Centímetro</option>
                <option value="mm">Milímetro</option>
                <option value="legua">Legua</option>
                <option value="milla">Milla</option>
                <option value="furlong">Furlong</option>
                <option value="cadena">Cadena</option>
                <option value="rod">Rod</option>
                <option value="yarda">Yarda</option>
                <option value="pie">Pie</option>
                <option value="pulgada">Pulgada</option>
                <option value="micrometro">Micrómetro</option>
            </select>
            <button class="botonconv">Calcular</button>
        </div>
        <div class="contpesos">
            <h1>Pesos</h1>
            <input type="number" class="valorUser">
            <select class="medidaInicial">
                <option value="kg">Kilogramo</option>
                <option value="hg">Hectogramo</option>
                <option value="dag">Decagramo</option>
                <option value="g">Gramo</option>
                <option value="dg">Decigramo</option>
                <option value="cg">Centigramo</option>
                <option value="mg">Miligramo</option>
                <option value="libra">Libra</option>
                <option value="onza">Onza</option>
            </select>
            <input id="resultP" class="valorResultado" readonly>
            <select class="medidaFinal">
                <option value="kg">Kilogramo</option>
                <option value="hg">Hectogramo</option>
                <option value="dag">Decagramo</option>
                <option value="g">Gramo</option>
                <option value="dg">Decigramo</option>
                <option value="cg">Centigramo</option>
                <option value="mg">Miligramo</option>
                <option value="libra">Libra</option>
                <option value="onza">Onza</option>
            </select>
            <button class="botonconv">Calcular</button>            
        </div>
        <div class="conttemperatura">
            <h1>Temperatura</h1>
            <input type="number" class="valorUser">
            <select class="medidaInicial">
                <option value="celsius">Celsius</option>
                <option value="fahrenheit">Fahrenheit</option>
                <option value="kelvin">Kelvin</option>
            </select>
            <input id="resultT" class="valorResultado" readonly>
            <select class="medidaFinal">
                <option value="celsius">Celsius</option>
                <option value="fahrenheit">Fahrenheit</option>
                <option value="kelvin">Kelvin</option>
            </select>
            <button class="botonconv">Calcular</button>
            
        </div>
        <div class="contdinero">
            <h1>Dinero</h1>
            <input type="number" class="valorUser">
            <select class="medidaInicial">
                <option value="usd">Dólar (USD)</option>
                <option value="eur">Euro (EUR)</option>
                <option value="jpy">Yen (JPY)</option>
                <option value="gbp">Libra (GBP)</option>
                <option value="aud">Dólar (AUD)</option>
                <option value="cad">Dólar (CAD)</option>
                <option value="chf">Franco (CHF)</option>
                <option value="cnh">Yuan (CNH)</option>
                <option value="hkd">Dólar (HKD)</option>
                <option value="nzd">Dólar (NZD)</option>
            </select>
            <input id="resultD" class="valorResultado" readonly>
            <select class="medidaFinal">
                <option value="usd">Dólar (USD)</option>
                <option value="eur">Euro (EUR)</option>
                <option value="jpy">Yen (JPY)</option>
                <option value="gbp">Libra (GBP)</option>
                <option value="aud">Dólar (AUD)</option>
                <option value="cad">Dólar (CAD)</option>
                <option value="chf">Franco (CHF)</option>
                <option value="cnh">Yuan (CNH)</option>
                <option value="hkd">Dólar (HKD)</option>
                <option value="nzd">Dólar (NZD)</option>
            </select>
            <button class="botonconv">Calcular</button>            
        </div>
    </div>
    <div class="infoconv">
        <h1 style="text-align: center;">Conversor de unidades</h1>
        <div style="margin-left: 50px; margin-right: 50px;">
            <p>Conversor de algunas unidades a nivel mundial como medidas, pesos, temperaturas y tipos de dinero.</p>
            <h3>Ejemplo de uso</h3>
            <p>Imagina que quieres pasar 10 kilosgramos a gramos:</p>
            <ol>
                <li>Pon en el conversor "medidas" el numero que quieres convertir.</li>
                <li>Selecciona la unidad que es el numero.</li>
                <li>Selecciona la en la que quieres transformar el numero.</li>
                <li>Presiona el boton "Calcular" para recibir el resultado en el cuadro de resultado de "medidas".</li>
            </ol>
            <h3>Informacion adicional</h3>
            <ul>
                <li>Es posible que algunas medidas no esten en el conversor.</li>
                <li>Es posible que el valor de algunas monedas no sea exacto debido a la tasa de cambio.</li>
                <li>Algunos tipos de moneda no estan en el conversor, solo se encuentran las 10 mas usadas a nivel mundial.</li>
            </ul>
        </div>
        <div>
            <a href="../index.html" class="returnhome">Home</a>
        </div>
    </div>
</body>
<footer>
    <a href="https://github.com/Eriquito00">
        <img class="imgGH" src="../img/github.png" alt="CalcConvert">
    </a>
    <p class="github">Created by: Eriquito00</p>
</footer>
</html>